Type Inference Does not work reliably on new version

<!--
Troubleshooting guide: https://rust-analyzer.github.io/manual.html#troubleshooting
Forum for questions: https://users.rust-lang.org/c/ide/14

Before submitting, please make sure that you're not running into one of these known issues:

 1. on-the-fly diagnostics are mostly unimplemented (`cargo check` diagnostics will be shown when saving a file): #3107

Otherwise please try to provide information which will help us to fix the issue faster. Minimal reproducible examples with few dependencies are especially lovely <3.
-->

It looks like the latest version is having an issue inferring the type of some vars. The example provided below is a snippet from a private repo that I can share. This issue exists in more areas than just the proc macro code in the example.

**rust-analyzer version**: (eg. output of "rust-analyzer: Show RA Version" command, accessible in VSCode via <kbd>Ctrl/⌘</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>)

> rust-analyzer version: 0.3.2328-standalone (81ff38f53b 2025-03-02) [/Users/<me>/.vscode/extensions/rust-lang.rust-analyzer-0.3.2328-darwin-arm64/server/rust-analyzer]

**rustc version**: (eg. output of `rustc -V`)

> rustc 1.81.0 (eeb90cda1 2024-09-04)

**editor or extension**: (eg. VSCode, Vim, Emacs, etc. For VSCode users, specify your extension version; for users of other editors, provide the distribution if applicable)

VSCode:
Identifier
rust-lang.rust-analyzer
Version
0.3.2328
Last Updated
2025-03-03, 13:50:32
Size
41.04MB
Marketplace
Published
2020-02-10, 01:24:28
Last Released
2025-03-02, 22:11:30

**relevant settings**: (eg. client settings, or environment variables like `CARGO`, `RUSTC`, `RUSTUP_HOME` or `CARGO_HOME`)

None

**repository link (if public, optional)**: (eg. [rust-analyzer](https://github.com/rust-lang/rust-analyzer))

Private Repo

**code snippet to reproduce**: 
```rust
// strum version 0.25.0
use strum_macros::FromRepr;

/// Differentiated Services Field Codepoints (DSCP) as established in
/// [RFC-2472](https://datatracker.ietf.org/doc/html/rfc2474) and defined/maintained in the
/// [IANA dscp-registry](https://www.iana.org/assignments/dscp-registry/dscp-registry.xhtml)
#[repr(u8)]
#[non_exhaustive]
#[derive(Debug, Clone, Eq, PartialEq, PartialOrd, Ord, Copy, FromRepr)]
pub enum Dscp {
    /// Pool 1
    ///
    /// Class Selectors [RFC-2474](https://datatracker.ietf.org/doc/html/rfc2474)
    // NOTE: Underscore in literals are indicative of their dscp pool.
    ClassSelector0 = 0b_00000_0,
    ClassSelector1 = 0b_00100_0,
    ClassSelector2 = 0b_01000_0,
    ClassSelector3 = 0b_01100_0,
    ClassSelector4 = 0b_10000_0,
    ClassSelector5 = 0b_10100_0,
    ClassSelector6 = 0b_11000_0,
    ClassSelector7 = 0b_11100_0,
    /// Assured Forwarding PHB Groups [RFC-2597](https://datatracker.ietf.org/doc/html/rfc2597)
    AfGroup11 = 0b_00101_0,
    AfGroup12 = 0b_00110_0,
    AfGroup13 = 0b_00111_0,
    AfGroup21 = 0b_01001_0,
    AfGroup22 = 0b_01010_0,
    AfGroup23 = 0b_01011_0,
    AfGroup31 = 0b_01101_0,
    AfGroup32 = 0b_01110_0,
    AfGroup33 = 0b_01111_0,
    AfGroup41 = 0b_10001_0,
    AfGroup42 = 0b_10010_0,
    AfGroup43 = 0b_10011_0,
    /// Expedited Forwarding [RFC-3246](https://datatracker.ietf.org/doc/html/rfc3246)
    ExpeditedForwarding = 0b_10111_0,
    /// Voice admit [RFC-5865](https://datatracker.ietf.org/doc/html/rfc5865)
    VoiceAdmit = 0b_10110_0,
    /// Pool 3
    ///
    /// Lower Effort PHB [RFC-8622](https://datatracker.ietf.org/doc/html/rfc8622)
    LowerEffort = 0b_0000_01,
    // NOTE: NQB was omitted here because it has an expiration in the IANA registry.
}

impl Dscp {
/// Extract the DSCP variant from a given byte. This method will only return standardized
    /// variants from the IANA DSCP registry.
    ///
    /// # Example
    /// ```
    /// let byte: u8 = 0b00100_0_11;
    /// assert_eq!(Dscp::read(&byte), Dscp::ClassSelector1);
    /// ```
    pub const fn read(byte: &u8) -> Result<Self, DscpError> {
        let dscp_field = Self::read_raw(byte);
        // match here because `Option::ok_or()` is not `const`
// from_repr is derived via macro 
        match Self::from_repr(dscp_field) {
            Some(x) => Ok(x),
            None => Err(DscpError::NoStandardAction(dscp_field)),
        }
    }
}
```

<img width="905" alt="Image" src="https://github.com/user-attachments/assets/99ccaa85-9fb7-4c9a-9343-54ea2b9b1f38" />

Duplicate of https://github.com/rust-lang/rust-analyzer/issues/19272.